[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "colors/onedark.vim"]
	path = colors/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
